<div style=" background: inherit">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-2">
            <button mat-raised-button color="primary" routerLink="/newedu" *ngIf="isLogged">
                Nueva Educacion
            </button>
        </div>

        
        <div class="col-lg-12">

            <div class="table">
                <div>
                    <div *ngFor="let Educacion of educacion">

                        <div cdkDropListGroup>

                            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

                                <div class="example-box" *ngFor="let movie of movies" cdkDrag>

                                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                    {{movie}}

                                    <div>
                                        <h2>{{Educacion.nombreE}}</h2>
                                    </div>

                                    <div>
                                        <p>{{Educacion.descripcionE}}</p>
                                    </div>

                                    <div *ngIf="isLogged">
                                        <button mat-raised-button color="accent"
                                            routerLink="/editaredu/{{Educacion.id}}">
                                            <mat-icon>edit</mat-icon></button>
                                    </div>

                                    <div *ngIf="isLogged">
                                        <button mat-fab color="warn" aria-label="Ex" style="margin-bottom: 5px;"
                                            (click)="delete(Educacion.id)">
                                            <mat-icon>delete</mat-icon></button>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<mat-divider></mat-divider>