.row {
  padding: 50px;

}

h3{
  margin: 3px;
  
}

.contenedor {
  padding-top: 30px;
  
  
}

.parte1,
.parte2 {
  display: inline-block;
  text-align: justify;
}

@media (min-width: 768px) {
.img-educacion {
  box-shadow: 2px 2px 2px rgb(232, 241, 99);
  padding: 5px;
  margin-top: -200px;
  width: 80%;
}
}

@media (max-width: 767px) {
  .img-educacion {
    box-shadow: 2px 2px 2px rgb(232, 241, 99);
    padding: 10px;
    
  }
  }