
<div style="text-align: center; background: inherit">
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-lg-2">
            <button mat-raised-button color="primary" routerLink="/newexp" *ngIf="isLogged">
                Nueva Experiencia
            </button>
        </div>

        <div class="col lg 1"></div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of experiencia">

                        <td><h2>{{Experiencia.nombreE}}</h2></td>
                        <td><p>{{Experiencia.descripcionE}}</p></td>

                        <td *ngIf="isLogged">
                            <button mat-raised-button color="accent" 
                                routerLink="/editexp/{{Experiencia.id}}">
                                EDITAR
                            </button>
                        </td>

                        <td *ngIf="isLogged">
                            <div class="example-button-container">
                                <button mat-fab color="warn" aria-label="Ex" 
                                    style="margin-bottom: 5px;"
                                    (click)="delete(Experiencia.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    
</div>