.row {
  padding: 5px;

}

h1{
  display: inline;
  margin-bottom: 0px;
  margin-top: 0%;
  
}

.parte1,
.parte2 {
  display: inline-block;
  text-align: justify;
  margin-top: 1%;
  margin-left: 1%;
 
  margin-right: 0%;
  padding: 0%;
  
}

.img-proyecto {
  box-shadow: 2px 2px 2px rgb(232, 241, 99);
}