<div style="  background: inherit">

  <div class="row" class="px-0">
    <div class="container">

      <div class="logo">
        <img src="../../../../../assets/imagenes/APLogo.png" id="logo">
      </div>

      <div class="modos">
        <button mat-raised-button color="warn">git</button>
        <button mat-raised-button color="warn"><span class="material-symbols-outlined">nest_heat_link_gen_3
          </span></button>
        <button mat-raised-button color="warn">linkedin<mat-icon>linkedin-box</mat-icon></button>

        <button mat-raised-button color="Accent" (click)="onSetTheme('dark-theme')">
          <span class="material-symbols-outlined">dark_mode</span>
        </button>

        <button mat-raised-button color="primary" (click)="onSetTheme('light-theme')">
          <span class="material-symbols-outlined">light_mode</span>
        </button>
      </div>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>