div{
    background-color: black;  
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo{
    width: 360px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -100px;
}
.modos {
    
    margin-right: -100px;
}

/*--- para la vista de celular ---*/

@media (max-width:575px){
    .container {
        flex-direction: column;
    }
    .modos {
         display: flex;
         flex-direction: column;
         
         margin-left: -60px;
    }  
    #logo{
        width: 360px;
        align-items: center;
        margin-right: -97px;
    }
}

@media (max-width:1336px){
    .modos {
         display: flex;
         margin-right: -70px;
    }  
    #logo{
        width: 360px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: -100px;
       
    }
}


